.highlight {
    display: inline-block;
    vertical-align: top;
}
.hi_text {
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
    font-size: smaller;
}

.selected_highlights {
    height: auto;
}