#overlay {
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 100;
    pointer-events: none;
    display: none;
    opacity: .75;
}

body {
    color: #FFFFFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.content {
    float: left;
}

.block {
    padding: 0 5px 5px 5px;
}

.block_heading {
    font-size: smaller;
    background-color: #678572;
    margin-bottom: 5px;
}

.block_content {
    background-color: #6D816D;
}

.section {
    font-size: small;
}

.subsection {
    font-size: smaller;
    margin-left: 1em;
}

#banner {
    float: top;
    margin: -50;
    width: 800px;
    height: auto;
}

#left_blocks {
    margin-left: 8px;
    float: left;
    height: auto;
}

#right_blocks {
    float: left;
}

.whats_online {
    text-align: left;
    padding-left: .5em;
    width: 145px;
}

.whats_online.block_content {
    line-height: 125%;
}