#overlay {
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 100;
    pointer-events: none;
    display: none;
    opacity: .75;
}

body {
    color: #FFFFFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.block {
    padding: 5px 5px 5px 5px;
}

.heading {
    background-color: #678572;
    margin-bottom: .3%;
}

.content {
    background-color: #6D816D;
}

.section {
    font-size: small;
}

.subsection {
    font-size: smaller;
    margin-left: 1em;
}

#whats_online {
    margin-left: 8px;
}

.whats_online {
    text-align: left;
    padding-left: .5em;
}

.whats_online.content {
    line-height: 150%;
}