.whats_online {
    text-align: left;
    padding-left: .5em;
    width: 135px;
}

.whats_online.block_content {
    line-height: 125%;
}

.section {
    font-size: small;
}

.subsection {
    font-size: smaller;
    margin-left: 1em;
}